[submodule "deps/llvm"]
	path = deps/llvm
	url = https://github.com/llvm/llvm-project.git
	branch = main
	shallow = true

[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
	branch = v1.x
	shallow = true

[submodule "deps/toml"]
	path = deps/toml
	url = https://github.com/marzer/tomlplusplus.git
	shallow = true
	
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
	shallow = true
