# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Evil things
.claude

# LSP & IDE
compile_commands.json
.vscode/
.idea/

temp/
*build*/
.cache/
.clice/
.llvm*/
.xmake/
__pycache__/
.pytest_cache/
tests/unit/Local/

**/node_modules
docs/.vitepress/dist
docs/.vitepress/cache

scripts/build-*.sh