[submodule "deps/llvm"]
	path = deps/llvm
	url = https://github.com/llvm/llvm-project.git
	branch = main

[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
	branch = v1.x
