[submodule "deps/llvm"]
	path = deps/llvm
	url = https://github.com/llvm/llvm-project.git
	branch = main

[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
	branch = v1.x

[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
	
[submodule "deps/toml"]
	path = deps/toml
	url = https://github.com/marzer/tomlplusplus.git
